{% extends 'base.html' %}<!--  引用文件  -->

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'myblog\blog.css' %}">
{% endblock %} <!-- 文件引用 -->

<!--  页面标题-->
{% block title %}
    我的网站
{% endblock %}

{% block nav_blog_active%}active{% endblock %}<!-- 点击时不同颜色 -->

<!-- 页面内容 -->
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                      <div class="panel-heading">{% block block_list_title %}博客列表{% endblock %}</div><!--数量统计-->
                    <div class="panel-body">
                        {% for blog in blogs %}<!--for循环遍历每一个blog   {% 叫做标签-->
                            <div class="blog">
                                <a href="{% url 'blog_detail' blog.pk %}">  <!-- 变成跳转页面 -->
                                    <h3>{{ blog.title}}</h3>
                                </a>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag"></span><a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                    &nbsp;<span class="glyphicon glyphicon-time"></span>{{ blog.created_time|date:"Y-m-d"}}
                                    &nbsp;浏览次数:({{ blog.get_read_num }})
                                </p>
                                <p>{{ blog.content|truncatechars:30 }}</p>  <!--有| 的叫过滤器 显示多少个字符-->
                            </div>
                        {% empty%}<!--判断为空的时候输出什么-->
                            <h3>暂无博客，敬请期待</h3>
                        {% endfor %}
                    </div>
                </div>
                    <div>
                        <nav aria-label="Page navigation" style="text-align:center;">
                          <ul class="pagination" >
                              <!-- 上一页 -->
                            <li > <!--#按钮，点击左右翻页-->
                                {% if page_of_blogs.has_previous %}<!-- #有下一页 -->
                                   <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                       <span aria-hidden="true">&laquo;</span><!-- #点击跳转下一页 -->
                                   </a>
                                {% else %}<!-- #没有下一页，没有a标签，点击按钮不会跳转 -->
                                   <span aria-hidden="true">&laquo;</span>
                                {% endif %}
                          </li>
                              <!-- 全部页面 -->
                              {% for page_num in  page_range %}
                                    {% if page_num == page_of_blogs.number %}
                                        <li class="active"><span>{{ page_num }}</span></li>
                                    {% else %}
                                        {% if page_num == '...' %}
                                            <li><span>{{ page_num }}</span></li>
                                        {% else %}
                                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% endif %}
                              {% endfor %}

                              <!-- 下一页 -->
                            <li> <!--#按钮，点击左右翻页-->
                                    {% if page_of_blogs.has_next %}<!-- #如果后续有分页，按钮可点击 -->
                                          <a href="?page={{page_of_blogs.next_page_number}}" aria-label="Next">
                                              <span aria-hidden="true">&raquo;</span>
                                          </a>
                                    {% else %}<!-- #没有分页，不可点击 -->
                                          <span aria-hidden="true">&raquo;</span>
                                    {% endif %}
                             </li>
                          </ul>
                          <p>
                              共有{{ page_of_blogs.paginator.count }}篇博客，
                              现在在第{{ page_of_blogs.number }}页，
                              一共{{ page_of_blogs.paginator.num_pages }}页
                          </p>
                        </nav>
                    </div>
            </div>
            <!--右边的框-->
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                      <div class="panel-heading"><h3>博客分类</h3></div>
                    <div class="panel-body">
                        <ul class="blog-types"><!--取消UL的点-->
                            {% for blog_type in blog_types %}
                            <li>
                                <a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name}}({{ blog_type.blog_count }})</a>
                            </li>
                            {% empty %}
                                <li>
                                    <p>暂无分类</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>日期分类</h3></div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,blog_count in blog_dates.items %}
                                <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                    <p>{{ blog_date|date:"Y年m月" }}({{ blog_count }})</p>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
