{% extends 'base.html'%}

{% block title %}
    我的网站|首页
{% endblock %}

{% block nav_home_active%}active{% endblock %}

{% block content %}

    <h2 class="home-content">欢迎访问我的网站，随便看</h2>
        <a class="btn btn-primary btn-lg" href="{% url 'blog_list'%}" role="button" style="position: absolute;top: 50%;left: 50%;
        transform: translate(-50%,50%);">随便看看</a></p>
    <style type="text/css">
        h2.home-content{
            font-size: 250%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,50%);
        }
    </style>

{% endblock %}